{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"@typescript-eslint/eslint-plugin",
		"prettier",
		"import",
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/strict",
		"plugin:prettier/recommended",
		"plugin:import/recommended",
		"plugin:import/typescript",
	],
	"rules": {
		"prettier/prettier": "warn",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/consistent-type-imports": [
			"error",
			{
				"prefer": "type-imports",
				"fixStyle": "inline-type-imports",
			},
		],
	},
}
